---
import Layout from "../layouts/Layout.astro";
import CodeSwitcher from "../components/code-switcher.vue";
import { UserDetails } from "../components/user-details";
import LearnMore from "../components/learn-more.astro";
import Footer from "../components/footer.astro";
import ClerkLogo from "../components/clerk-logo.astro";
import AstroLogo from "../components/astro-logo.astro";
import { DASHBOARD_CARDS } from "../consts/cards";

import { OrganizationSwitcher, UserButton } from "@clerk/astro/components";

const user = await Astro.locals.currentUser();

if (!user) {
  return Astro.locals.auth().redirectToSignIn();
}
---

<Layout title="Dashboard">
  <main class="max-w-[75rem] w-full mx-auto">
    <div class="grid grid-cols-[1fr_20.5rem] gap-10 pb-10">
      <div>
        <header class="flex items-center justify-between w-full h-16 gap-4">
          <div class="flex gap-4">
            <ClerkLogo />
            <div aria-hidden class="w-px h-6 bg-[#C7C7C8]"></div>
            <AstroLogo />
          </div>
          <div class="flex items-center gap-2">
            <OrganizationSwitcher
              appearance={{
                elements: {
                  organizationPreviewAvatarBox: "size-6",
                },
              }}
            />
            <UserButton
              afterSignOutUrl="/"
              appearance={{
                elements: {
                  userButtonAvatarBox: "size-6",
                },
              }}
            />
          </div>
        </header>
        <UserDetails client:only="react" />
      </div>
      <div class="pt-[3.5rem]">
        <CodeSwitcher client:only="vue" />
      </div>
    </div>
  </main>
  <LearnMore cards={DASHBOARD_CARDS} />
  <Footer />
</Layout>
