---
import { SignIn as SignInAstro } from "@clerk/astro/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="flex justify-center py-24">
    <SignInAstro />
  </div>
</Layout>
